* {
    margin:0;
    padding:0;
}
.full{
    margin: auto;
    position: relative;
    font-size:0;
    min-width: 800px;
    max-width: 800px;
}
.header {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0 0 0;
}
.slider {
    position: relative;
    max-width:800px;
    width:100%;
    margin: 0 auto;
    border-top:none;
}
.item {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width:150px;
    min-height: 330px;
    padding: 5px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    margin-top:25px;
}
.line1 {
    border-left: 1px solid gray;
    height: 360px;
    position: absolute;
    top: 69px;
    left: 0px;
}
.line2 {
    border-left: 1px solid gray;
    height: 360px;
    position: absolute;
    top: 69px;
    right: 0px;
}
.item_description{
    padding: 10px;
}
.item_head, .item_name, .item_coast, .item_description {
    text-transform: uppercase;
    text-align: center;
}
.item_head, .item_name, .item_coast {
    padding:10px 0;
    font-size: 14px;
}

.item_head {
    padding:20px 0;
    border-bottom:1px solid gray;
    color:gray;
}
.slick-prev::before , .slick-next::before{
    color:gray;
    font-size: 30px;
    opacity: 1;
}
.slick-prev, .slick-next{
    top:17%;
    width:40px;
}
.item_img img {
    margin:0 auto;
    max-width: 150px;
    max-height: 150px;
}
button {
    margin-top:20px;
    margin-bottom: 10px;
    width: 120px;
    height: 35px;
    background: #fffd03;
    border: none;
    font-weight: bold;
}
.non_av {
    background: #cf3398;
    color:white;
}
.item_name{
    color:#009de1;
}
.item_coast {
    height: 0px;
    font-weight: bold;
}
.old_price {
    font-size: 10px;
    font-weight: normal;
    text-decoration:  line-through;
}
.circle {
    position: absolute;
    top:-25px;
    right:5px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: black;
    color:white;
    font-size: 12px;
    text-align: center;
}
.blue {
    background: #009de1;
}
.blue p {
    position: absolute;
    top:7px;
}
.green {
    background: #88af23;
}
.green p {
    position: absolute;
    top:30%;
    left:8%;
}